.wrapper {
    margin-top: 100px;
    text-align: center;

    .sub-wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;


        .box {
            // border: 1px solid  black;
            height: 150px;
            width: 250px;
            margin: 0 70px;
            padding-top: 20px;
            box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.2);
            border-radius: 10px;

            svg {
                background-color: #EAE2F9;
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
        }
    }

}