.main-container {
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 20px;

    li {
        list-style: none;
        display: inline;
        padding: 20px;
        font-size: 20px;
      }

      a:hover {
        color: #E91E62;
      }

    button {
        border: solid 1px #E91E62;
        border-radius: 20px;
        background-color: #E91E62;
        font-size: 20px;
        color: white;
        width: 100px;
        height: 40px;
        cursor: pointer;
      }

      button:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
      }

}

